body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

/* App */
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.app--button {
  position: absolute;
  top: 30px;
  left: 15px;
  z-index: 5;
}

.app--canvas {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

/* Accelerometer Permissions */
.accelerometer--modal {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

/* Homepage */
.home--container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 20%;
  gap: 1rem;
}

.home--thumbnail {
  border: solid 1px black;
}

/* Modals */
.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 450px;
  width: 450px;
  background: black;
}

.modal1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 2;
  background: black;
  color: white;
  height: fit-content;
  width: fit-content;
  max-width: 60vw;
  padding: 3%;
}

.modal1 button {
  border: solid 1px white;
  padding: 2%;
  text-transform: uppercase;
  color: white;
  background: none;
}

/* Pin Input */
.pin--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 100vh;
  width: 100vw;
  background: ghostwhite;
}

.pin--container input {
  padding: 5px;
  width: 40%;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  background: black;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif
}

.pin--container button {
  border: solid black 2px;
  padding: 5px 4%;
  margin-top: 10px;
  background: none;
  box-shadow: rgba(0, 0, 0, 0.6) 1.95px 1.95px 2.6px;
  transition: all 0.4s; 
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif
}

.pin--container button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 5px;

}