body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

/* App */
.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.app--button {
  position: absolute;
  top: 30px;
  left: 15px;
  z-index: 5;
}

.app--qr-reader {
  height: 40%;
  width: 40%;
  top: 30;
  right: 15px;
  position: absolute;
  z-index: 1;
}

.app--canvas {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

/* Accelerometer Permissions */
.accelerometer--modal {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

/* Homepage */
.home--container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 20%;
  gap: 1rem;
}

.home--thumbnail {
  border: solid 1px black;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  height: 450px;
  width: 450px;
  background: black;
  animation: fadeInOut 1s linear forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
